.a{
    display:inline-block;
    margin-left: 30px;
    background-color: rgb(228, 43, 43);
    width: 75px;
    height: 70px;
    
}
.b{
    display: inline-block;
    margin-left: 60px;
    margin-bottom: 50px;
    background-color: rgb(228, 43, 43);
    width: 80px;
    height: 20px;
}
.p{
    display: inline-block;
    margin-left: -100px;
    font-family: 'Bebas Neue', cursive;
    font-family: 'PT Serif', serif;
    font-size: 60px;
    font-style: italic;
    font-weight: bold;
    
}
.c{
    display:inline-block;
    margin-left: 70px;
    background-color: rgb(228, 43, 43);
    width: 75px;
    height: 70px; 
}
.d{
    display: inline-block;
    margin-left: 60px;
    margin-bottom: 50px;
    background-color: rgb(228, 43, 43);
    width: 80px;
    height: 20px;
}
.e{
    display: inline-block;
    margin-left: 60px;
    margin-bottom: 50px;
    background-color: rgb(228, 43, 43);
    width: 80px;
    height: 20px;
}
.f{
    display: inline-block;
    margin-left: 60px;
    margin-bottom: 50px;
    background-color: rgb(228, 43, 43);
    width: 80px;
    height: 20px;
}
.g{
    display: inline-block;
    margin-left: 60px;
    margin-bottom: 50px;
    background-color: rgb(228, 43, 43);
    width: 80px;
    height: 20px;
}
.h{
    display: inline-block;
    margin-left: 60px;
    margin-bottom: 50px;
    background-color: rgb(228, 43, 43);
    width: 80px;
    height: 20px;
}
.i{
    display:inline-block;
    margin-left: 85px;
    background-color: rgb(228, 43, 43);
    width: 80px;
    height: 70px;
}
#linkD, #linkF, #linkSH, #linkSD{
    text-decoration: none;
    color:black;
}
#signinlink{
    text-decoration: none;
    color: rgb(228, 43, 43);
}
.nav1{
    position: relative;
    bottom: 70px;
    left: 420px;
}
.nav11{
    position: relative;
    bottom:115px;
    left: 450px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    font-size: 20px;

}
.nav2{
    position: relative;
    left: 425px;
    bottom: 75px;
}
.nav3{
    position: relative;
    bottom: 75px; 
    left: 335px;
}
.nav33{
    position: relative;
    bottom: 100px;
    left: 360px;
    color:rgb(228, 43, 43);
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    font-size: 20px;
}
.nav44{
    position: relative;
    bottom: 57px;
    left: 90px;
    color:rgb(228, 43, 43);
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    font-size: 20px;
}
table {
    width: 94.2%;
    height: 10px;
    position: relative;
    bottom: 100px;
    left: 28px;
}
table thead td {
    border: 2px  solid rgb(97, 96, 96);
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    font-size: 20px;
    color: black;
}
table span{
    color:rgb(228, 43, 43);
}
.deals {
    width: 120px;
    position: relative;
    left: 15px;
}
.for-one {
    width: 130px;
    position: relative;
    left: 15px;
}
.for-sharing {
    width: 170px;
    position: relative;
    left: 15px;
}
.sides-and-desserts {
    width: 190px;
    position: relative;
    left: 15px;
}
.your-cart {
    width: 190px;
    position: relative;
    left: 15px;
}
h2{
    text-align: center;
    position: relative;
    top: -65px;
    font-size: 35px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    color: black;
}
.sq1, .sq2{
    display: inline-block;
    width: 50px;
    height: 50px;
}
.sq1{
    color: white;
    background-color: #ea1f2e;
    position: relative;
    left: 540px;
    bottom: 170px;
}
.sq2{
    color: black;
    background-color: white;
    border: solid 3px black;
    position: relative;
    left: 565px;
    bottom: 165px;
}
.spann1{
    position: relative;
    top: 10px;
    left: 20px;
    font-weight: bold;
}
.spann2{
    position: relative;
    top: 7px;
    left: 16px;
    font-weight: bold;
}
.spanl1, .spanl2{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    font-size: 25px;
}
.spanl1{
    position: relative;
    left: 540px;
    bottom: 150px;
}
.spanl2{
    position: relative;
    left: 565px;
    bottom: 150px;
}
#theFirstcol{
    border: gainsboro 2px solid;
    display: inline-block;
    background-color: #fff;
    box-shadow: 0 0 15px 5px #c1c1c1 inset;
    position: relative;
    left: 270px;
    top: 60px;
    width: 140px;
    height: 160px;
}
#theSecondcol{
    border: gainsboro 2px solid;
    display: inline-block;
    background-color: #fff;
    box-shadow: 0 0 15px 5px #c1c1c1 inset;
    position: relative;
    left: 285px;
    top: 60px;
    width: 140px;
    height: 160px;
}
.AnaGebtAkhry{
    position: relative;
    left: 35px;
}
.checkbox_col1{
    font-family: 'Bebas Neue', cursive;
    position: relative;
    left: 45px;
    top: 5px;
    
}
.checkbox_col11{
    font-family: 'Bebas Neue', cursive;
    position: relative;
    left: 35px;
}
.AnaGebtAkhryAgain{
    font-family: 'Bebas Neue', cursive;
    position: relative;
    left: 30px;
}
.blablabla{
    position: relative;
    left: 35px;
}
.checkbox_col2{
    font-family: 'Bebas Neue', cursive;
    position: relative;
    left: 45px;
    top: 5px;
}
.checkbox_col22{
    font-family: 'Bebas Neue', cursive;
    position: relative;
    left: 35px;
}
.blablablaAgain{
    font-family: 'Bebas Neue', cursive;
    position: relative;
    left: 50px;
}
.theLastbutton{
    position: relative;
    top: 60px;
    left: 600px;
    background-color: #ea1f2e;
    color: white;
    border: #ea1f2e solid 2px;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    width: 160px;
    height: 50px;
}